{"model_params": {"sim_epoch": 5}, "maze_params": {"start_row": 6, "col": 9, "start_col": 4, "row": 6}, "terminal_steps": 6000, "learning_alg_params": {"alpha": 0.1, "seed": 10, "gamma": 0.95}, "policy": "epsilon_greedy", "switch_maze_at_step": 2000, "maze_type": "blocking", "model": "deterministic_no_prior", "policy_params": {"epsilon": 0.1, "seed": 10}, "learning_alg": "q_learning"}