{"maze_params": {"start_row": 6, "col": 9, "start_col": 4, "row": 6}, "learning_alg_params": {"alpha": 0.1, "seed": 42, "gamma": 0.95}, "model_params": {"sim_epoch": 50}, "planner_params": {"kappa": 0.01}, "terminal_step": 6000, "learning_alg": "q_learning", "maze_type": "blocking", "arch": "dyna_q", "policy_params": {"epsilon": 0.1, "seed": 24}, "switch_maze_at_step": 2000, "policy": "epsilon_greedy", "model": "deterministic_no_prior"}
